:root {
  /* 修改主题色 */
  --rp-c-brand: #f83c86;
  --rp-c-brand-dark: #e91f64;
  --rp-c-brand-darker: #a70d3b;
  --rp-c-brand-light: #fe68a7;
  --rp-c-brand-lighter: #fecce3;

  --rp-c-brand-tint: #c12e8c29;

  --rp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--rp-c-brand) 30%,
    #fbbf24
  );
}
