# Dependencies
node_modules

# Production
dist
build
server
release
.vercel

doc_build

# Tests
coverage
*.vitest-temp.json

# Backups
backups

# Services
.vscode
.netlify

# Others
logs
draft
*.log
.cache
temp
tmp

# Local env files
.env*.local

# IDEs and editors
.idea
.project
.classpath
*.launch
.settings

# System files
.DS_Store
Thumbs.db
*.pem