name: Test and Publish

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  test:
    name: Run default CI of repository
    uses: ./.github/workflows/test.yml

  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    needs:
      - test
    permissions:
      id-token: write # Required for OIDC trusted publishing
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: ./.github/actions/pnpm
      - name: Build
        run: pnpm run build
      - name: Publish
        run: pnpm run ci:publish
