name: Test and Publish

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    name: Run default CI of repository
    uses: ./.github/workflows/test.yml

  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    needs:
      - test
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest
      - name: Setup pnpm
        uses: ./.github/actions/pnpm
      - name: Build
        run: pnpm run build # Ensu
      - name: Publish
        run: pnpm run ci:publish
