name: Test

on:
  pull_request:
    branches: [main]
  workflow_call:

jobs:
  install:
    name: Install packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: ./.github/actions/pnpm

  lint:
    name: Run lint
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: ./.github/actions/pnpm
      - name: Lint check
        run: pnpm lint

  type-check:
    name: Run type check
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: ./.github/actions/pnpm
      - name: Build
        run: pnpm run build
      - name: Generate
        run: pnpm -r run generate
      - name: Type check
        run: pnpm run check:type

  test:
    name: Run Uint test
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Init docker
        run: |
          docker compose -f docker-compose.yml up -d
      - name: Setup pnpm
        uses: ./.github/actions/pnpm
      - name: Build
        run: pnpm run build
      - name: Init Tables
        run: pnpm push
        env:
          MYSQL_URL: mysql://root@localhost:3306/mysql
          POSTGRESQL_URL: postgresql://postgres@localhost:5432/postgres
      - name: Test
        run: pnpm test
        env:
          MYSQL_URL: mysql://root@localhost:3306/mysql
          POSTGRESQL_URL: postgresql://postgres@localhost:5432/postgres
